@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local('Inter'),
       url('~/assets/fonts/inter/inter-v8-latin_cyrillic-regular.woff2') format('woff2'),
       url('~/assets/fonts/inter/inter-v8-latin_cyrillic-regular.woff') format('woff'),
       url('~/assets/fonts/inter/inter-v8-latin_cyrillic-regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: local('Inter'),
       url('~/assets/fonts/inter/inter-v8-latin_cyrillic-500.woff2') format('woff2'),
       url('~/assets/fonts/inter/inter-v8-latin_cyrillic-500.woff') format('woff'),
       url('~/assets/fonts/inter/inter-v8-latin_cyrillic-500.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: local('Inter'),
       url('~/assets/fonts/inter/inter-v11-latin_cyrillic-600.woff2') format('woff2'),
       url('~/assets/fonts/inter/inter-v11-latin_cyrillic-600.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local('Inter'),
       url('~/assets/fonts/inter/inter-v11-latin_cyrillic-700.woff2') format('woff2'),
       url('~/assets/fonts/inter/inter-v11-latin_cyrillic-700.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: local('Inter'),
       url('~/assets/fonts/inter/inter-v11-latin_cyrillic-900.woff2') format('woff2'),
       url('~/assets/fonts/inter/inter-v11-latin_cyrillic-900.woff') format('woff');
  font-display: swap;
}

